<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="MyStoreSuite">
    <test name="All Tests">
        <classes>
            <class name="LoginTest"/>
            <class name="LogoutTest"/>
            <class name="RegisterTest"/>
            <class name="SearchBarTest"/>
        </classes>
    </test>
</suite>